<div id='popup-content-container'>
  <div id='header-container'>
    <div class='close-button cancel'></div>
    <div class='headline'></div>
  </div>
  <div id='body-container'>
    <div class="loading-section"></div>
  </div>
</div>
