<div id='login-container'>
  <form method='post' id='login-form' accept-charset='UTF-8'>
    <div class='form-container'>
      <div class='input-row'>
        <input type='text' id='email' name='email' maxlength='50'>
      </div>
      <div class='input-row'>
        <input type='text' id='password' name='password' maxlength='50'>
      </div>
    </div>

    <div class='button-container'>
      <div id='login-btn' class='btn btn-large'>Login</div>
    </div>
  </form>
</div>
