<div id='message-details-container'>
  <div class='detail-container'>
    {{#ifequal infoType compare='0'}}
    <div class='infomation'>{{I18nt 'Popup.Information.sender' name=message.mailer.first_name time=message.sent_at}}</div>
    {{else}}
    <div class='infomation'>{{I18nt 'Popup.Information.receiver' name=message.mailer.first_name time=message.sent_at}}</div>
    {{/ifequal}}
    <div class='description'>{{message.description}}</div>
  </div>

  <div class='button-container'>
    <div class='button-content'>
      <div id='cancel-btn' class='btn btn-large'>{{I18nt 'Common.Button.confirm'}}</div>
    </div>
    <div class='clear'></div>
  </div>
</div>
