<div id='banner-container'>
  <div class='navigator'>
    <div class='navigation-menu-list'>
      <div class='logo-section'>
        <div class='logo'></div>
      </div>

      <div class='item' link-for='/'>
        <div class='item-line'></div>
        <div class='item-content'>
          <div class='home-icon'></div>
          <div class='item-text'>{{I18nt 'Common.Icons.home'}}</div>
        </div>
      </div>
      {{#if isLoggedIn}}
      <div class='item' link-for='/profile'>
        <div class='item-line'></div>
        <div class='item-content'>
          <div class='profile-icon'></div>
          <div class='item-text'>{{I18nt 'Common.Icons.profile'}}</div>
        </div>
      </div>

      <div class='item' link-for='/dashboard'>
        <div class='item-line'></div>
        <div class='item-content'>
          <div class='management-icon'></div>
          <div class='item-text'>{{I18nt 'Common.Icons.management'}}</div>
        </div>
      </div>

      <div class='item' link-for='/contact'>
        <div class='item-line'></div>
        <div class='item-content'>
          <div class='contact-icon'></div>
          <div class='item-text'>{{I18nt 'Common.Icons.contact'}}</div>
        </div>
      </div>

      <div class='item' link-for='/message'>
        <div class='item-line'></div>
        <div class='item-content'>
          <div class='message-icon'></div>
          <div class='item-text'>{{I18nt 'Common.Icons.message'}}</div>
        </div>
      </div>

      <div class='item pull-right logout'>
        <div class='item-line'></div>
        <div class='item-content'>
          <div class='logout-icon'></div>
          <div class='item-text'>{{I18nt 'Common.Icons.logout'}}</div>
        </div>
      </div>

      <div class='avatar pull-right'>
        <div class='user-avatar default'></div>
        <div class='item-text'>{{userName}}</div>
      </div>
      {{else}}
      <div class='item' link-for='/signup'>
        <div class='item-line'></div>
        <div class='item-content'>
          <div class='signup-icon'></div>
          <div class='item-text'>{{I18nt 'Common.Icons.signup'}}</div>
        </div>
      </div>

      <div class='item pull-right login'>
        <div class='item-line'></div>
        <div class='item-content'>
          <div class='login-icon'></div>
          <div class='item-text'>{{I18nt 'Common.Icons.login'}}</div>
        </div>
      </div>
      {{/if}}
      <div class='clear'></div>
    </div>
  </div>
</div>
