// Place all the styles related to the Shared Header here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header-container {
  #banner-container {
    .navigator {
      background-color: $header-background;
      padding: $page-container-vertical-padding $page-container-horizontal-padding;
      .navigation-menu-list {
        .logo-section {
          display: inline-block;
          padding: 0 10px;
          vertical-align: top;
        }
        .item {
          display: inline-block;
          padding: 20px 0 0 10px;
          opacity: $show-opacity;
          cursor: pointer;
          &:hover, &.anchor {
            opacity: 1;
          }
          .item-line {
            height: 20px;
            background-color: $white;
          }
          &.anchor {
            .item-line {
              background-color: $blue-d;
            }
          }
          .item-content {
            text-align: center;
            div[class$='-icon'] {
              display: inline-block;
              margin: 5px 20px;
            }
          }
        }
        .avatar {
          background-color: $black;
          opacity: $show-opacity;
          margin-right: 30px;
          padding: 15px 50px;
          text-align: center;
        }
        .item-text {
          color: $white;
        }
      }
      .logo {
        @include logo-sprite('logo_character_150');
      }
      .home-icon {
        @include icon-sprite('home');
      }
      .signup-icon {
        @include icon-sprite('signup');
      }
      .profile-icon {
        @include icon-sprite('profile');
      }
      .management-icon {
        @include icon-sprite('management');
      }
      .contact-icon {
        @include icon-sprite('contact');
      }
      .message-icon {
        @include icon-sprite('message');
      }
      .login-icon {
        @include icon-sprite('login');
      }
      .logout-icon {
        @include icon-sprite('logout');
      }
      .user-avatar {
        &.default {
          background-color: $white;
          @include icon-sprite('default-avatar');
        }
      }
    }
  }
}
