// Place all the styles related to the Home View here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-container {
  .game-section {
    text-align: center;
    #map {
      background: $game-background;
      display: inline-block;
      border-radius: $border-radius;
      width:  960px;
      height: 260px;
      padding: 20px;
      .playground {
        position: relative;
        [id^='path-'] {
          background: $path-background;
          position: absolute;
          display: none;
          border-radius: $border-radius;
        }
        #player {
          position: absolute;
          border-radius: $border-radius;
        }
        .figure-up {
          @include masterview-sprite('figure-up');
        }
        .figure-right {
          @include masterview-sprite('figure-right');
        }
        .figure-down, .figure-default {
          @include masterview-sprite('figure-down');
        }
        .figure-left {
          @include masterview-sprite('figure-left');
        }
      }
    }
  }
}
