// Place all the styles related to the Signup View here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#message-container {
  text-align: center;
  .message-content {
    display: inline-block;
  }
}

#contact-container {
  .contact-content {
    display: inline-block;
  }
}
