// Place all the styles related to the Shared Header here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header-container {
  .navbar {
    max-width: $page-max-width;
    margin: 0 auto;
    position: relative;
    .banner {
      margin: 0 $page-container-horizontal-padding + $page-border-width
    }
  }
}
