<div id='game-container'>
  <div class='game-section'>
    <div id='map' class='curry-border'>
      <div class='playground'>
        <div id='player' class='curry-border'></div>
      </div>
    </div>
  </div>
</div>
