#popup-container {
  display: none;
  position: fixed;
  background: $popup-background;
  border-radius: $border-radius;

  #popup-content-container {
    padding: 30px;
    #header-container {
      padding-bottom: 20px;
      border-bottom: 1px solid $border-color;
      .close-button {
        float: right;
        margin-top: -20px;
        margin-right: -20px;
        @include mark-sprite('close-button');
        &:hover {
          @include mark-sprite('close-button-hover');
        }
      }
      .headline {
        font-size: $large-font-size;
      }
    }
    #body-container {
      margin-top: 30px;
      textarea {
        max-width: 310px;
      }
    }
  }
}
