<div id='message-container'>
  <div class='message-content'>
    <div class='form-container'>
      <div class='virtual-input-row pull-right'>
        <div class='input-row'>
          <label class='input-box btn btn-large btn-inverse'>
            <input type='radio' id='inbox' name='browse_type' value='0' checked>
            {{I18nt 'Common.Radio.inbox'}}
          </label>
        </div>

        <div class='input-row'>
          <label class='input-box btn btn-large'>
            <input type='radio' id='sent-item' name='browse_type' value='1'>
            {{I18nt 'Common.Radio.sent_item'}}
          </label>
        </div>
      </div>
      <div class='clear'></div>

      <div class='message-browser'></div>
    </div>
  </div>
</div>
