.form-container {
  .form-title {
    margin-bottom: 20px;
    font-size: $large-font-size;
  }
  .virtual-input-row {
    margin-bottom: 25px;
    .input-row {
      display: inline-block;
      .input-text {
        display: inline-block;
        width: 90px;
        padding: 10px 0px 10px 10px;
        //NOTE: zacky, hack here for input-box message with input-text. Perhaps need redesign.
        &~.input-box~.message {
          margin-left: 105px;
        }
      }
      .dropdown-box {
        position: relative;
        display: inline-block;
        .caret {
          position: absolute;
          top: 50%;
          left: 90%;
        }
        .dropdown-menu li{
          cursor: pointer;
        }
      }
      .input-box {
        display: inline-block;
        .half-width {
          width: 150px;
        }
        .full-width {
          width: 310px;
        }
        .one-half-width {
          width: 500px;
        }
        .error {
          background-color: $error-background;
        }

        label {
          position: absolute;
          font-size: $medium-font-size;
          color: $label-color;
          padding: 10px;
        }
        .stand-by {
          display: inline-block;
          vertical-align: middle;
          margin-left: -42px;
          cursor: pointer;
          &~.caret {
            left: 70%;
          }
        }

        input, textarea {
          font-size: $medium-font-size;
          text-align: left;
          padding: 9px;
          margin-bottom: 0px;
        }
        input[type=radio] {
          display: inline-block;
          vertical-align: top;
        }
        input[type=button] {
          display: inline-block;
          box-sizing: content-box;
        }
        textarea {
          max-width: 500px;
          max-height: 200px;
        }
      }
      .message {
        &:not(.error) {
          visibility: hidden;
        }
        position: absolute;
        margin-top: 5px;
        font-size: $tiny-font-size;
        color: $red-error;
      }
    }
  }
  .blank-line {
    height: 20px;
  }
  .edit-btn {
    @include mark-sprite('edit-button');
  }
  .check-btn {
    @include mark-sprite('check-button');
  }
}
.button-container {
  margin-top: 20px;
  .button-content {
    float: right;
  }
}
