.form-container {
  .virtual-input-row {
    margin-bottom: 25px;
    .input-row {
      display: inline-block;
      .input-box {
        .full-width {
          width: 310px;
        }
        .error {
          background-color: $red-background;
        }

        label {
          position: absolute;
          font-size: $medium-font-size;
          color: $label-color;
          padding: 10px;
        }

        input, textarea {
          font-size: $medium-font-size;
          padding: 9px;
          margin-bottom: 0px;
        }
        input[type=radio] {
          display: inline-block;
          vertical-align: top;
        }
        textarea {
          max-width: 500px;
          max-height: 100px;
        }
      }
      .message {
        &:not(.error) {
          visibility: hidden;
        }
        position: absolute;
        margin-top: 5px;
        font-size: $small-font-size;
        color: $red-error;
      }
    }
  }
  .blank-line {
    height: 20px;
  }
}
.button-container {
  float: right;
}
