/*
 * Please try to put all css public constants here.
 */

/******************* fonts *******************/
/* size */
$large-font-size : 26px;
$medium-font-size: 18px;
$small-font-size : 16px;
$tiny-font-size  : 13px;


/* weights */
$medium-weight: 500;
$light-weight : 200;

/******************* colors *******************/
/* color collections */
$white:   #FFFFFF;
$blue-l:  #3377BB;
$blue-d:  #3D4860;
$brown:   #522E23;
$grey-fa: #FAFAFA;
$grey-f2: #F2F2F2;
$grey-f1: #F1F1F1;
$grey-e:  #EEEEEE;
$grey-d:  #DDDDDD;
$grey-c:  #CCCCCC;
$grey-c6: #C6C6C6;
$grey-a:  #AAAAAA;
$grey-9:  #999999;
$grey-8:  #888888;
$grey-7:  #777777;
$grey-6:  #666666;
$grey-5:  #555555;
$grey-4:  #444444;
$grey-3:  #333333;
$grey-b:  #BBBBBB;
$grey-d6: #D6D6D6;
$black:   #000000;

/* promotion & error colors */
$dark-red:  #CC0000;
$red-error: #B8010F;

/* text and links */
$border-color: $grey-d;
$text-color: $grey-4;
$label-color: $grey-9;
$link-blue:  $blue-l;

/* background */
$body-background:    $grey-d;
$header-background:  $brown;
$content-background: $grey-f1;
$popup-background:   $white;
$input-background:   $grey-fa;
$game-background:    $grey-4;
$master-background:  $blue-d;
$error-background:   #F7F5DC;
$path-background:    #FBCDC0;

/* opacity */
$show-opacity: 0.6;

/* drop down hover backgrounds */
$dropdown-dark:  #559922;
$dropdown-light: #99CC33;

/******************* sizes *******************/
/* page width */
$page-max-width:    1200px;
$page-border-width: 8px;

/* page container padding */
$page-container-vertical-padding:   20px;
$page-container-horizontal-padding: 15px;

/******************* borders *******************/
$border-radius: 7px;
