/* main layout */

body {
  font-size: $medium-font-size;
  background-color: $body-background;
  overflow-y: scroll;
  #wrap {
    width: $page-max-width;
    margin: 0 auto;
    padding: 0 $page-border-width;
    position: relative;

    #page-left-shadow {
      @include repeat-y-sprite('shadow-page-left-border');
      background-repeat: repeat-y;
      width: $page-border-width;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    #page-right-shadow {
      @include repeat-y-sprite('shadow-page-right-border');
      background-repeat: repeat-y;
      width: $page-border-width;
      height: 100%;
      position: absolute;
      top: 0px;
      right: 0px;
    }
    #page-background {
      background-color: $content-background;
      width: 100%;
      height: 100%;
      max-width: $page-max-width;
      min-height: 100%;
      position: absolute;
      left: 0px;
      right: 0px;
      margin-left: auto;
      margin-right: auto;
    }
    #content-container {
      padding: $page-container-vertical-padding $page-container-horizontal-padding
    }
    #overlay-container {
      .overlay {
        background-color: $black;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: $show-opacity;
      }
    }
    .clear {
      clear: both;
    }
    .blue-link {
      color: $link-blue;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .loading-section {
      width: 150px;
      height: 150px;
      background-image: image_url('loading.gif');
      margin: auto;
    }
    .description {
      font-size: $small-font-size;
      text-indent: 1em;
      word-wrap: break-word;
      padding: 20px;
    }
  }
}
