$logo-sprite-dimensions: true;
$logo-layout: smart;
$logo-spacing: 2px;
@import "common/logo/*.png"; /* logo */

$repeat-x-sprite-dimensions: true;
$repeat-x-layout: vertical;
$repeat-x-spacing: 2px;
@import "common/repeat-x/*.png"; /* repeat-x */

$repeat-y-sprite-dimensions: true;
$repeat-y-layout: horizontal;
$repeat-y-spacing: 2px;
@import "common/repeat-y/*.png"; /* repeat-y */

$icon-sprite-dimensions: true;
$icon-layout: smart;
$icon-spacing: 2px;
@import "common/icon/*.png"; /* icon */

$mark-sprite-dimensions: true;
$mark-layout: vertical;
$mark-spacing: 2px;
@import "common/mark/*.png"; /* mark */

$view-sprite-dimensions: true;
$view-layout: smart;
$view-spacing: 2px;
@import "view/*.png"; /* view */

$masterview-sprite-dimensions: true;
$masterview-layout: smart;
$masterview-spacing: 2px;
@import "masterview/*.png"; /* masterview */
