<div id='dashboard-container'>
  <div class='dashboard-content'>
    <div class='button-container'>
      <div class='button-content'>
        <div class='btn btn-large btn-inverse fire-ticket'>{{I18nt 'Common.Button.fire_ticket'}}</div>
      </div>
      <div class='clear'></div>
    </div>
    <div class='project-browser'>
      <div class='loading-section'></div>
    </div>
  </div>
</div>
